{% extends "base.html" %}
{% block content %}
  <h2>
    <a class="icon" href="/repo/{{ repo }}"> {% include "back.svg" %}</a>
    Tag: {{ repo }}:{{ tag }}
  </h2>
  <div class="properties">
    <div>
      <b>PLATFORM</b><br/>
      <span>{{ history.os }}/{{ history.architecture }}</span>
    </div>
    <div>
      <b>SIZE</b><br/>
      <span> {{ history.size_h }}</span>
    </div>

  </div>
  <br/>
  <h2>Layers</h2>
  <table>
    <thead>
      <tr>
        <td>Size</td>
        <td>SHA256</td>
      </tr>
    </thead>
    {% for layer in history.layers %}
      <tr>
        <td>{{ layer.size_h }}</td>
        <td>{{ layer.digest }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}