.properties { flex-wrap: wrap; }
.properties>div {
  display: inline-block;
  margin: 6px;
}
.properties>div>b { font-size: .8rem; }
.property-title { font-size: .8rem; }

.icon { color: inherit; }
.logo { width: 1em; margin-right: .3em; vertical-align: middle;}

td>code {
  margin: 0;
  white-space: nowrap;
}
