{% extends "base.html" %}
{% block content %}
  <h2>
    <a class="icon" href="/repo?repo={{ repo }}"> {% include "back.svg" %}</a>
    Tag: {{ repo }}:{{ tag }}
  </h2>
   {% if images|length > 1 %}
    {% for image in images %}
      <details>
        <summary>{{ image.os }}/{{ image.architecture }}</summary>
        {% with image=image %}{% include 'image.html' %}{% endwith %}
      </details>
    {% endfor %}
  {% else %}
    {% with image=images[0] %}{% include 'image.html' %}{% endwith %}
  {% endif %}
{% endblock %}
